{% extends "page.html.twig" %}

{# Main #}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content">
    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      {{ page.content }}
    {% endblock %}
  </div>
{% endblock %}
