{% extends "page.html.twig" %}
{% block header %}{% endblock %}
{# Main #}
{% block main %}

  <section role="main" class="main-container js-quickedit-main-content full-height-section">

    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      {{ page.content }}
    {% endblock %}

  </section>
{% endblock %}
