{% extends "page.html.twig" %}

{# Main #}
{% block main %}
  <section role="main" class="main-container js-quickedit-main-content">

    {# Header #}
    <div class="taskbar">
      <div class="{{ container }}">
        <div class="pull-right" role="heading">
          {{ drupal_block('sage_local_tasks') }}
        </div>
      </div>
    </div>

    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      {{ page.content }}
    {% endblock %}

  </section>
{% endblock %}
