a.btn.btn-primary {
  &:hover {
    color: $brand-yellow;
  }
}

.button {
  @extend .btn;
}

.button--primary {
  @extend .btn-primary;
}
.button--success {
  @extend .btn-success;
}
.button--info {
  @extend .btn-info;
}
.button--danger {
  @extend .btn-danger;
}
.button--warning {
  @extend .btn-warning;
}

.button--small {
  @extend .btn-sm;
}

.agora-header,
.view-display-id-home {
  .more-link {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-yellow;
  }
}
.btn-label {
  background: none;
}

.fa-pager .pager li > a {
  background-color: transparent;
  color: $pager-bg;
  &:hover , &:focus {
    background-color: transparent;
    color: $pager-hover-bg;
  }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  border: none;
}
