/**
 * Form styles.
 */

 input[type="checkbox"],
 .checkbox input[type="checkbox"],
 .checkbox-inline input[type="checkbox"] {
   position: absolute;
   margin-top: 3px;
 }

// Browsers do not recognize pseudo :after selectors, we must create a wrapper
// around the select element to style it properly.
// $see http://stackoverflow.com/q/21103542
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  .form-inline & {
    width: auto;
  }
  .input-group & {
    display: table-cell;
    // Reset rounded corners
    &:first-child .form-control:first-child {
      @include border-left-radius($border-radius-base);
    }
    &:last-child .form-control:first-child {
      @include border-right-radius($border-radius-base);
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;

    &, &:focus {
      background-image: none;
    }

    &::-ms-expand {
      opacity: 0;
    }
  }
  &:after {
    color: $gray;
    content: '▼';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -.5em;
    padding-right: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;

    // Use a more stylish icon if the theme uses glyphicons.
    .has-glyphicons & {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e114'; // .glyphicon-chevron-down
      display: inline-block;
      font-family: 'Glyphicons Halflings';
    }
    .has-error & {
      color: $state-danger-text;
    }
    .has-success & {
      color: $state-success-text;
    }
    .has-warning & {
      color: $state-warning-text;
    }
  }
}

// Use CSS/SVG image for required mark.
// @see https://www.drupal.org/node/2152217
// @see https://www.drupal.org/node/2274631
.form-required:after {
  background-image: url(../images/required.svg);
  background-size: 10px 7px;
  content:"";
  display: inline-block;
  line-height:1;
  height: 7px;
  width: 10px;
}

form.webform-submission-form {
  @extend .container-sm;

  margin: 15px auto 25px ;

}

.webform-progress {
  margin-bottom: $padding-large-vertical ;
}

.agora-page-form {
  padding-top: $padding-base-horizontal * 2 ;
  padding-bottom: $padding-base-horizontal * 3 ;
  .form-actions button:not(:last-child) {
    margin-right: $padding-large-vertical ;
  }
}

.form-options {
  width: auto;
  display: inline-block;
  margin-top: $padding-large-vertical ;

  &.list-group {
    .list-group-item {
      padding: $padding-large-vertical $padding-base-horizontal;
    }
  }

  .form-inline label {
    margin-right: $padding-base-horizontal;
  }
}

.edit-name input[type=text] {
  font-size: $font-size-h2;
}

.form-item[class*="form-item-field-address-"][class*="-country-code"],
.filter-wrapper {
  display: none;
}

.control-label {
  margin-left: $padding-small-vertical;
}

.form-textarea-wrapper {
  margin-top: $padding-small-horizontal;
  .cke_chrome {
    border: 2px solid $input-border ;
    border-radius: $input-border-radius;
  }
  .cke_top {
    border-bottom: 1px solid $input-border ;
  }
  .cke_contents {
    padding: $padding-small-vertical $padding-small-horizontal;
  }
}


.form-actions {
  margin-top: $padding-base-vertical;
}

// Paragraphs

.js .field--widget-entity-reference-paragraphs td {
  padding: $table-cell-padding;
}

.paragraphs-dropbutton-wrapper button:not(:last-child) {
  margin-right: $padding-large-vertical ;
}

.node-form #edit-field-form-0-status--wrapper legend {
  margin-bottom: 5px;
  margin-left: 6px;
  font-weight: bold;
  font-size: $font-size-base;
}

#webform-submission-candidature-aap-form {
  .webform-submission-navigation, details[data-webform-element-id="candidature_aap--submission_information"] {
    display: none;
  }
  .description.help-block {
    margin-left: $padding-large-vertical;
  }
  .js-form-managed-file {
    .description {
      @extend .pull-right;
      @extend .clearfix;
      margin-top: $padding-small-horizontal / 2 ;
      margin-bottom: $padding-small-horizontal / 2 ;
    }
    button.js-form-submit.btn-danger {
      @extend .pull-right;
      @extend .btn-xs;
    }
  }
}

#webform-submission-candidature-aap-form > ul {
  list-style-type: none;
  padding-left: 0;
}

.webform-details-toggle-state {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-info;
  margin-bottom: $padding-base-vertical;
}

#edit-user-type--wrapper {
  legend {
    margin-bottom: 0;
    border: none;
  }
}

.search-help-link {
  display: none;
}

.fieldgroup {
  margin-bottom: $padding-base-vertical;
  legend {
    margin-bottom: 0;
  }
  &.js-webform-radios-fieldset > .fieldset-wrapper {
    padding-left: $padding-base-horizontal;
  }

  & + .js-form-wrapper {
    margin-bottom: $padding-large-vertical;
  }

}

.webform-multiple-table {
  .tabledrag-toggle-weight {
   display: none;
 }

   + .container-inline {
     .form-number {
       text-align: right;
     }
   }
}
