/**
 * Form styles.
 */

// Browsers do not recognize pseudo :after selectors, we must create a wrapper
// around the select element to style it properly.
// $see http://stackoverflow.com/q/21103542
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  .form-inline & {
    width: auto;
  }
  .input-group & {
    display: table-cell;
    // Reset rounded corners
    &:first-child .form-control:first-child {
      @include border-left-radius($border-radius-base);
    }
    &:last-child .form-control:first-child {
      @include border-right-radius($border-radius-base);
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;

    &, &:focus {
      background-image: none;
    }

    &::-ms-expand {
      opacity: 0;
    }
  }
  &:after {
    color: $gray;
    content: '▼';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -.5em;
    padding-right: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;

    // Use a more stylish icon if the theme uses glyphicons.
    .has-glyphicons & {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e114'; // .glyphicon-chevron-down
      display: inline-block;
      font-family: 'Glyphicons Halflings';
    }
    .has-error & {
      color: $state-danger-text;
    }
    .has-success & {
      color: $state-success-text;
    }
    .has-warning & {
      color: $state-warning-text;
    }
  }
}

form.webform-submission-form {
  margin-bottom: 25px ;

  .form-group,
  & > details,
  & > .form-type-checkbox,
  & > .form-type-textarea,
  .alert-stretch > .container {
    @extend .container-sm;
  }

  .form-group:first-child,
  .alert-stretch + details, 
  .alert-stretch + .form-group {
    margin-top: $padding-large-vertical;
  }

  .js-form-managed-file .alert-stretch {
    display: none;
  }

  & > details {
    @extend .well;
  }

}

.webform-progress {
  margin-bottom: $padding-large-vertical ;
}

.agora-page-form {
  padding-top: $padding-base-horizontal * 2 ;
  padding-bottom: $padding-base-horizontal * 3 ;
  .form-actions button:not(:last-child) {
    margin-right: $padding-large-vertical ;
  }
}

.form-options {
  width: auto;
  display: inline-block;
  margin-top: $padding-large-vertical ;

  &.list-group {
    .list-group-item {
      padding: $padding-large-vertical $padding-base-horizontal;
    }
  }

  .form-inline label {
    margin-right: $padding-base-horizontal;
  }
}

.edit-name input[type=text] {
  font-size: $font-size-h2;
}

.form-item[class*="form-item-field-address-"][class*="-country-code"],
.filter-wrapper {
  // display: none;
}

.control-label {
  margin-left: $padding-small-vertical;
}

.form-textarea-wrapper {
  margin-top: $padding-small-horizontal;
  .cke_chrome {
    border: 2px solid $input-border ;
    border-radius: $input-border-radius;
  }
  .cke_top {
    border-bottom: 1px solid $input-border ;
  }
  .cke_contents {
    padding: $padding-small-vertical $padding-small-horizontal;
  }
}


.form-actions {
  margin-top: $padding-base-vertical;
}

// Paragraphs

.js .field--widget-entity-reference-paragraphs td {
  padding: $table-cell-padding;
}

.paragraphs-dropbutton-wrapper button:not(:last-child) {
  margin-right: $padding-large-vertical ;
}

.node-form .form-item.form-wrapper legend {
  margin-bottom: 5px;
  margin-left: 6px;
  font-weight: bold;
  font-size: $font-size-base;
}

#webform-submission-candidature-aap-form {
  .webform-submission-navigation, details[data-webform-element-id="candidature_aap--submission_information"] {
    display: none;
  }
  .description.help-block {
    margin-left: $padding-large-vertical;
  }
  .js-form-managed-file {
    .description {
      @extend .pull-right;
      @extend .clearfix;
      margin-top: $padding-small-horizontal / 2 ;
      margin-bottom: $padding-small-horizontal / 2 ;
    }
    button.js-form-submit.btn-danger {
      @extend .pull-right;
      @extend .btn-xs;
    }
  }
}

#webform-submission-candidature-aap-form > ul {
  list-style-type: none;
  padding-left: 0;
}

table {
  th.views-field-operations, td.views-field-operations {
    min-width: 130px;
  }
}

.view-filters {
  margin: $padding-large-vertical auto;
  text-align: center;
}

.views-exposed-form {
  .form-actions {
    text-align: left;
  }
  .filter-sort .filter-sort-order {
    display: none;
    &.toggle-active {
      display: inline-block;
    }
  }
  .dropdown-menu {
    .form-item.radio, .form-item.checkbox {
      display: block;
      input[type="radio"], input[type="checkbox"] {
        margin-right: 7px;
      }
    }
  }
}

.view-id-projects.view-display-id-page_filter {
  .form-item-combine, .form-actions#edit-actions {
    // display: block !important;
  }
}

.form-group-inline-repsonsive{
  line-height: 45px;
}

.form-horizontal {

  .form-body {
    padding: 0 $padding-base-horizontal;
    .form-group {
      margin-bottom: 5px;
    }
  }

  .radio, .checkbox,
  .radio-inline, .checkbox-inline {
    padding-top: 0;
  }

  .form-exposed-group {
    padding-left: 45px;
    .form-exposed-group-inner {
      padding: 0 24px 0 6px;
    }
    .btn-group-justified {
      margin: 0 $padding-small-vertical;
    }
  }

  .form-exposed-actions {
    text-align: right;
    padding-right: 25px;
  }

  .form-btn-justified {
    text-align: center;
    .form-group {
      margin: auto;
    }
  }
}

.dark-background form {
  background-color : $gray-darker ;
  color: $navbar-inverse-link-color;

  input[type="submit"].btn-success {
    @extend .btn-yellow ;
  }

}

.form-dropdown-block {
  display: block;
  text-align: left;
  h4, h5 {
    margin-top: 0;
  }
  .panel {
    box-shadow: none;
  }
}

div[id^="edit-field-actor-type-value"] {
  .form-type-checkbox {
    display: block;
  }
  .form-checkbox {
    margin-right: 15px;
    margin-left: -30px;
  }
  label.control-label.option {
    display: block;
    width: auto;
    text-align: left;
    margin: 5px 15px;
    &::before {
      display: block;
      float: right;
      content: '';
      height: $line-height-computed;
      width: 35px;
      border-radius: $panel-border-radius;
    }
  }
  label[for^="edit-field-actor-type-value-1"]::before {
    @extend .type-helper-1;
  }
  label[for^="edit-field-actor-type-value-2"]::before {
    @extend .type-helper-2;
  }
  label[for^="edit-field-actor-type-value-3"]::before {
    @extend .type-helper-3;
  }
  label[for^="edit-field-actor-type-value-4"]::before {
    @extend .type-helper-4;
  }
  label[for^="edit-field-actor-type-value-5"]::before {
    @extend .type-helper-5;
  }
}

.checkbox label {
  .icheckbox_flat,
  .icheckbox_flat-grey,
  .icheckbox_flat-yellow,
  .icheckbox_flat-orange,
  .icheckbox_flat-red,
  .icheckbox_flat-pink,
  .icheckbox_flat-purple,
  .icheckbox_flat-blue,
  .icheckbox_flat-green,
  .icheckbox_flat-aero {
    margin-left: -15px;
    margin-right: $padding-small-horizontal;
    height: 22px;
  }
}

.form-managed-file .checkbox label {
  .icheckbox_flat-red {
    height: 20px;
  }
}

.webform-element--title-inline label:after {
  display: none;
}

.form-required:before {
  @extend .fa;
  @extend .fa-asterisk;
  color: $brand-warning;
  margin-right: 5px;
  font-size: 80%;
  vertical-align: super;
  .form-managed-file & {
    position: absolute;
    margin-left: -32px;
  }
}

.form-required {
  margin-left: -15px;
  .form-managed-file & {
    margin-left: 0;
  }
}

.form-inline.form-type-tel .control-label {
  display: block;
  max-width: 100%;
  margin-bottom: $padding-small-vertical;
}

.webform-file-button + .webform-file-button-input + .button.js-hide + .description {
  display: inline-block;
  .btn {
    margin-top: 1px;
  }
}

.form-item--error-message {
  margin: 5px;
  color: $brand-danger;
  &:before {
    @extend .fa;
    @extend .fa-exclamation-circle;
    margin-right: 5px;
  }
}

.webform-preview {
  margin-bottom: $padding-large-vertical * 1.5;

  .webform-element {
    padding-left: $padding-base-horizontal;
  }

  label.control-label {
    display: block;
    margin-left: -10px;
    margin-bottom: $padding-small-vertical;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

}

.webform-confirmation {
  @extend .container-sm;
  padding-top: $padding-base-vertical * 1.5;
}

.sage .webform-submission-navigation {
  display: none;
}
