/**
 * Form styles.
 */

// Browsers do not recognize pseudo :after selectors, we must create a wrapper
// around the select element to style it properly.
// $see http://stackoverflow.com/q/21103542
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  .form-inline & {
    width: auto;
  }
  .input-group & {
    display: table-cell;
    // Reset rounded corners
    &:first-child .form-control:first-child {
      @include border-left-radius($border-radius-base);
    }
    &:last-child .form-control:first-child {
      @include border-right-radius($border-radius-base);
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;

    &, &:focus {
      background-image: none;
    }

    &::-ms-expand {
      opacity: 0;
    }
  }
  &:after {
    color: $gray;
    content: '▼';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -.5em;
    padding-right: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;

    // Use a more stylish icon if the theme uses glyphicons.
    .has-glyphicons & {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e114'; // .glyphicon-chevron-down
      display: inline-block;
      font-family: 'Glyphicons Halflings';
    }
    .has-error & {
      color: $state-danger-text;
    }
    .has-success & {
      color: $state-success-text;
    }
    .has-warning & {
      color: $state-warning-text;
    }
  }
}

// Use CSS/SVG image for required mark.
// @see https://www.drupal.org/node/2152217
// @see https://www.drupal.org/node/2274631
.form-required:after {
  background-image: url(../images/required.svg);
  background-size: 10px 7px;
  content:"";
  display: inline-block;
  line-height:1;
  height: 7px;
  width: 10px;
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  label {
    padding-left: 25px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-left: -25px;
  }
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include transition(240ms);
  }

  &:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: $brand-primary;
    @include scale(0);
  }

  &:after {
    position: relative;
    top: -3px;
    border: 2px solid $gray;
  }

  &:checked:before {
    @include scale(0.5);
  }

  &:disabled:checked:before {
    background-color: $gray-light;
  }

  &:checked:after {
    border-color: $brand-primary;
  }

  &:disabled:after,
  &:disabled:checked:after {
    border-color: $gray-light;
  }
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus:after {
    border-color: $brand-primary;
  }

  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid $gray;
    border-radius: 2px;
    @include transition(240ms);
  }

  &:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    @include rotate(45deg);
  }

  &:checked:after {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  &:disabled:after {
    border-color: $gray-light;
  }

  &:disabled:checked:after {
    background-color: $gray-light;
    border-color: transparent;
  }
}

.has-warning {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    @include box-shadow(inset 0 -2px 0 $brand-warning);
  }
}

.path-webform .page-header {
  @extend .container-sm;
}

form.webform-submission-form {
  @extend .container-sm;

  margin: 15px auto 25px ;

}

.webform-progress {
  margin-bottom: $padding-large-vertical ;
}

.agora-page-form {
  padding-top: $padding-base-horizontal * 2 ;
  padding-bottom: $padding-base-horizontal * 3 ;
  .form-actions button:not(:last-child) {
    margin-right: $padding-large-vertical ;
  }
}

.form-options {
  width: auto;
  display: inline-block;
  margin-top: $padding-large-vertical ;

  &.list-group {
    .list-group-item {
      padding: $padding-large-vertical $padding-base-horizontal;
    }
  }

  .form-inline label {
    margin-right: $padding-base-horizontal;
  }
}

.edit-name input[type=text] {
  font-size: $font-size-h2;
}

.form-item[class*="form-item-field-address-"][class*="-country-code"],
.filter-wrapper {
  // display: none;
}

.control-label {
  margin-left: $padding-small-vertical;
}

.form-textarea-wrapper {
  margin-top: $padding-small-horizontal;
  .cke_chrome {
    border: 2px solid $input-border ;
    border-radius: $input-border-radius;
  }
  .cke_top {
    border-bottom: 1px solid $input-border ;
  }
  .cke_contents {
    padding: $padding-small-vertical $padding-small-horizontal;
  }
}


.form-actions {
  margin-top: $padding-base-vertical;
}

// Paragraphs

.js .field--widget-entity-reference-paragraphs td {
  padding: $table-cell-padding;
}

.paragraphs-dropbutton-wrapper button:not(:last-child) {
  margin-right: $padding-large-vertical ;
}

.node-form .form-item.form-wrapper legend {
  margin-bottom: 5px;
  margin-left: 6px;
  font-weight: bold;
  font-size: $font-size-base;
}

#webform-submission-candidature-aap-form {
  .webform-submission-navigation, details[data-webform-element-id="candidature_aap--submission_information"] {
    display: none;
  }
  .description.help-block {
    margin-left: $padding-large-vertical;
  }
  .js-form-managed-file {
    .description {
      @extend .pull-right;
      @extend .clearfix;
      margin-top: $padding-small-horizontal / 2 ;
      margin-bottom: $padding-small-horizontal / 2 ;
    }
    button.js-form-submit.btn-danger {
      @extend .pull-right;
      @extend .btn-xs;
    }
  }
}

#webform-submission-candidature-aap-form > ul {
  list-style-type: none;
  padding-left: 0;
}

.form-line {
  .control-label:first-child {

  }
}

table {
  th.views-field-operations, td.views-field-operations {
    min-width: 130px;
  }
}

.view-filters {
  margin: $padding-large-vertical auto;
  text-align: center;
}

.views-exposed-form {
  .filter-sort .filter-sort-order {
    display: none;
    &.toggle-active {
      display: inline-block;
    }
  }
  .dropdown-menu {
    .form-item.radio, .form-item.checkbox {
      display: block;
      input[type="radio"], input[type="checkbox"] {
        margin-right: 7px;
      }
    }
  }
}

.view-id-projects.view-display-id-page_filter {
  .form-item-combine, .form-actions#edit-actions {
    // display: block !important;
  }
}

.form-group-inline-repsonsive{
  line-height: 45px;
}

.form-horizontal {

  .radio, .checkbox,
  .radio-inline, .checkbox-inline {
    padding-top: 0;
  }

  .form-exposed-group {
    padding-left: 45px;
    .form-exposed-group-inner {
      padding: 0 24px 0 6px;
    }
  }

  .form-exposed-actions {
    text-align: right;
    padding-right: 25px;
  }

  .form-btn-justified {
    text-align: center;
    .form-group {
      margin: auto;
    }
  }
}

.dark-background form {
  background-color : $gray-darker ;
  color: $navbar-inverse-link-color;

  input[type="submit"].btn-success {
    @extend .btn-yellow ;
  }
}

.form-actions {
  input[type=submit], button[type=submit], a.button {
    &:active, &:focus {
      outline: none;
    }
  }
}

.form-required:after {
  background-image: none;
  @extend .fa;
  content: "\f069";
  font-size: 50%;
  vertical-align: super;
  color: $brand-danger;
}

.modal .modal-body {
  form fieldset:first-of-type {
    margin-top: $padding-base-vertical;
  }
}

label[for="edit-upload"].control-label {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

.dropzone {
  margin: 1.5em 2.5em;
  background-color: $gray-lighter;
  font-size: $font-size-h3;
  .dz-message > p:first-child {
    font-weight: 400;
  }
  a.button {
    @extend .btn;
    @extend .btn-primary;
  }
  .dz-preview {
    .dropzonejs-remove-icon {
      color: $brand-danger;
    }
    .dz-success-mark svg #Page-1 path {
      fill: $brand-yellow;
    }
  }

}

.entity-browser-form #edit-actions.form-actions {
  // @extend .container-fluid;
}

.entity-embed-dialog.entity-embed-dialog-step--embed {
  max-width: $screen-xs - $grid-gutter-width;
}
