.bg-image {
  background-size: cover;
  background-position: center center ;
  &.bg-dark, .jumbotron {
    background-color: transparent;

    &, h1, h2, h3 {
      color: $navbar-inverse-link-color;
      small {
        color: $navbar-inverse-link-color;
        font-size: 60%;
        opacity: 0.85 ;
        font-weight: 300;
      }

      font-weight: 300;
    }

    &.bg-no-image {
      background-color: #303030 ;
    }

  }

}

.panel-list {
  margin-bottom: $line-height-computed;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));

  .media {
    position: relative;
    .media-body {
      position: relative;
      padding-left: 5px;
      h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0;
      }
      .media-row {
        margin: $padding-small-vertical auto;
      }
      padding-bottom: $line-height-computed + $padding-small-vertical;
    }
    .social {
      position: absolute;
      bottom: 0;
      right: $padding-base-horizontal;
      a:hover {
        color: $brand-primary;
      }
    }
  }
}

.carousel {

  .carousel-indicators {
    bottom: 0;
  }

  .carousel-inner {
    &, & > .item {
      min-height: 500px;
      overflow: hidden;
    }
  }

  .carousel-control {
    &.left, &.right {
      background: none;
    }
  }

  .item {
    padding-bottom: $padding-large-vertical;
    transition-property: opacity;
  }

  .item,
  .active.left,
  .active.right {
      opacity: 0;
  }

  .active,
  .next.left,
  .prev.right {
      opacity: 1;
  }

  .next,
  .prev,
  .active.left,
  .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
  }

}
