.bg-image {
  background-size: cover;
  background-position: center center ;
  .jumbotron {
    background-color: transparent;

    &, h1, h2, h3 {
      color: $navbar-inverse-link-color;
    }

    h1 {
      opacity: 0.85 ;
    }

  }

}
