.bg-image {
  background-size: cover;
  background-position: center center ;
  &.bg-dark, .jumbotron {
    background-color: transparent;

    &, h1, h2, h3 {
      color: $navbar-inverse-link-color;
      small {
        color: $navbar-inverse-link-color;
        font-size: 60%;
        opacity: 0.85 ;
        font-weight: 300;
      }
    }

    &.bg-no-image {
      background-color: #303030 ;
    }

  }

}

.media.media-panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
  padding: $panel-body-padding;
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);

  .media-left {
    min-width: 160px + 10px; // image + padding-left
    text-align: center;
    .media-object {
      margin: 0 auto;
    }
  }

  .media-body {
    padding-left: 5px;
    h1, .h1, h2, .h2, h3, .h3 {
      margin-top: 0;
    }
  }

  .field__items > .field--item > & {
    margin-bottom: $padding-small-vertical;
  }

  .line {
    display: block;
    padding: .25em 0 .25em .5em ;
    min-height: $line-height-computed;
    line-height: $line-height-computed;
  }

}

.jumbotron {
  p {
    font-weight: $font-weight-base;
  }
}

.carousel {

  .carousel-indicators {
    bottom: 0;
  }

  .carousel-inner {
    &, & > .item {
      min-height: 400px;
      overflow: hidden;
    }
  }

  .carousel-control {
    &.left, &.right {
      background: none;
    }
  }

  .item {
    padding-bottom: $padding-large-vertical;
    transition-property: opacity, height;
  }

  .item,
  .active.left,
  .active.right {
      opacity: 0;
  }

  .active,
  .next.left,
  .prev.right {
      opacity: 1;
  }

  .next,
  .prev,
  .active.left,
  .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
  }

}
