/**
 * Navbar styling.
 */
$mobile: "screen and (max-width: #{$screen-xs-max})";
$tablet: "screen and (min-width: #{$screen-sm-min})";
$normal: "screen and (min-width: #{$screen-md-min})";
$wide: "screen and (min-width: #{$screen-lg-min})";

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }

  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }

  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }
  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-bottom,
      &.navbar-is-fixed-top {
        .toolbar-bar {
          position: fixed;
        }

        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}

.navbar.container {
  @media #{$tablet} {
    max-width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    max-width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    max-width: (($container-lg - $grid-gutter-width));
  }
}

.navbar.container > .container,
.navbar.container-fluid > .container-fluid {
  margin: 0;
  padding: 0;
  width: auto;
}

.btn-lang {
  font-weight: 300;
  text-transform: uppercase;
}

$icon-avatar-size: 46px ;

.icon-avatar {
  @include square($icon-avatar-size);
  padding: 12px 14px; // TODO : calculate this sh*t
  border-radius: $icon-avatar-size / 2 ;
  background-color: $brand-primary;
  font-weight: 300;
  color: $navbar-inverse-link-color;
  &:hover {
    color: $brand-success;
  }
}

.path-frontpage .navbar {}

.taskbar {
  position: absolute;
  width: 100%;
  padding: $padding-base-vertical $padding-base-horizontal;
  z-index: 1000;
}

.linkbar {
  margin: ($padding-large-vertical * 2) auto $padding-base-vertical ;
  &:last-child {
    margin-bottom: 0;
  }

  .btn {
    @include button-size($padding-base-vertical, $padding-base-horizontal * 2, $font-size-base, $line-height-base, $btn-border-radius-base);
    margin-right: $padding-base-horizontal ;
    &:last-child {
      margin-right: 0;
    }
  }

}

.project .nav-pills {
  margin-bottom: $padding-base-vertical ;
  li {
    text-align: center;
    a {
      display: inline;
      font-family: 'arc-light';
      font-size: $font-size-h4;
      padding: 15px 20px 10px ;
      text-transform: uppercase;
      background-color: transparent;
      border: 1px solid $gray-lighter;
      color: $gray;
    }
    a:hover, a:focus {
      border-color: $gray-light;
      color: $gray;
    }

    &.active a {
      background-color: $brand-primary;
      color: $navbar-inverse-link-color;
      border: none;
    }

    &.nav-highlight a {
      border-color: transparentize($brand-success, 0.4) ;
      color: transparentize($brand-success, 0.2) ;
      &:hover, &:focus {
      border-color: $brand-success;
      color: $brand-success;
      }
    }

    &.nav-highlight.active a {
      background-color: $brand-success;
      color: $navbar-inverse-link-color;
      border: none;
    }
  }
}
