/**
 * Node styling.
 */

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

article.campaign .nav-campaign {
  margin-bottom: $padding-base-horizontal * 2 ;
}

p, ul, ol  {
  font-weight: $font-weight-base;
}

.field--type-text-long ul, .field--type-text-long ol {
  margin-bottom: $padding-small-vertical
}

// .page-node-type-project .leaflet-container {
//   pointer-events: none;
// }

.page-node-type-campaign .link-campaign {
  display: none;
}

.section-social {

  @include make-row();

  text-align: center;
  padding: $padding-large-vertical 0 ;
  background-color: $red;
  color: $navbar-inverse-link-color;
  p .fa {
    margin-right: 15px;
  }

  .btn-social {
    @extend .btn ;
    @extend .btn-primary;

    margin: $padding-base-vertical * 2;
    min-width: 235px;

    &.btn-facebook {
      color: $navbar-inverse-link-color;
      background-color: #43609C;
      &:hover {
        color: $navbar-inverse-link-color;
        background-color: darken(#43609C, 15%);
      }
    }

    &.btn-twitter {
      color: $navbar-inverse-link-color;
      background-color: #57AFE7;
      &:hover {
        color: $navbar-inverse-link-color;
        background-color: darken(#57AFE7, 15%);
      }
    }

    &.btn-message {
      color: $navbar-inverse-link-color;
      background-color: #444444;
      &:hover {
        color: $navbar-inverse-link-color;
        background-color: darken(#444444, 15%);
      }
    }

  }

}
