/**
 * Node styling.
 */

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

article.campaign .nav-campaign {
  margin-bottom: $padding-base-horizontal * 2 ;
}

p, ul, ol, time  {
  font-weight: $font-weight-base;
}

p, .field--type-text-long ul, .field--type-text-long ol {
  font-size: 120%;
}

mark,
.mark {
  background-color: transparentize($brand-yellow, 0.3) ;
  padding: .1em .3em;
  border-radius: $border-radius-large;
}

.page-node-type-article {
  .taskbar {
    position: relative;
    @extend .pull-right;
    @extend .clearfix;
    margin-bottom: $padding-base-vertical;
  }
}

article.article.teaser {
  h1, h2, h3, h4 {
    margin-top: 0;
  }
  .field--name-body {
    margin-top: $padding-base-vertical;
    h1, h2, h3, h4 {
      font-family: $font-family-sans-serif !important;
      text-transform: lowercase;;
      font-variant: small-caps;
    }
  }
}


// .page-node-type-project .leaflet-container {
//   pointer-events: none;
// }
