/**
 * Node styling.
 */

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

article.campaign .nav-campaign {
  margin-bottom: $padding-base-horizontal * 2 ;
}

p {
  font-size: 120%;
  font-weight: 300;
}
