/**
 * Panel styling.
 */
.panel-title {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  &, &:hover, &:focus, &:hover:focus {
    color: inherit;
  }
  &:focus, &:hover {
    text-decoration: none;
  }
}

.panel {
  .bg-image {
    padding: $padding-base-vertical $padding-base-horizontal ;
  }
}

.panel-event {
  .panel-heading {
    background-color: $dark-red ;
    color: $navbar-inverse-link-color;
    font-weight: bold;
  }
}
