/**
 * Panel styling.
 */
.panel-title {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  &, &:hover, &:focus, &:hover:focus {
    color: inherit;
  }
  &:focus, &:hover {
    text-decoration: none;
  }
}

.panel {
  .bg-image {
    padding: $padding-base-vertical $padding-base-horizontal ;
  }

  .panel-footer {
    padding: $padding-base-horizontal ($padding-base-horizontal * 2) ($padding-base-horizontal * 3) ;
  }

  .media-left .fa {
    font-size: 21px ;
    width: 21px;
    text-align: center;
  }

  .inline-avatar {
    .img-responsive {
      display: inline-block;
      width: 40px;
      height: 40px ;
      vertical-align: text-bottom;
    }
  }

}

.panel-event {
  .panel-heading {
    background-color: $dark-red ;
    color: $navbar-inverse-link-color;
    font-weight: bold;
  }
}
