.table-responsive {
  th.select-all {
    padding-left: 14px;
    input[type="checkbox"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
      position: static;
      &:before {
        display: none;
      }
      &:after {
        // border-radius: 9px;
      }
    }
  }
}
