@font-face {
    font-family: 'arc';
    src: url('../fonts/arcweb-bold.eot');
    src: url('../fonts/arcweb-bold.woff') format('woff'),
         url('../fonts/arcweb-bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'arc-light';
    src: url('../fonts/arcweb-light.eot');
    src: url('../fonts/arcweb-light.woff') format('woff'),
         url('../fonts/arcweb-light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
