html, body {
  height: 100%;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;

}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.text-no-select {
  user-select: none;
}

.pad-bottom, .pad-bottom:last-child {
  margin-bottom: $padding-large-vertical ;
}

.btn-yellow {
  @include button-variant($gray-darker, $brand-yellow, $brand-yellow);

  & > a {
    color: $gray-darker;
  }
}

.rounded-corner {
  border-radius: $border-radius-base ;
}

.dark-background {
  background-color : $gray-darker ;
  color: $brand-yellow;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.blue-background {
  background-color : #5BBAF8 ;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.green-background {
  background-color : #0FEEC7 ;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.green-text {
  color : $brand-success ;
}


.type-helper-0 {
  background-color: $gray-lighter !important;
}
.type-helper-1 {
  background-color: $red!important;
  color: $navbar-inverse-link-color!important;
}
.type-helper-2 {
  background-color: $brand-blue!important;
  color: $navbar-inverse-link-color!important;
}
.type-helper-3 {
  background-color: $brand-yellow!important;
  color: $navbar-inverse-link-color!important;
}
.type-helper-4 {
  background-color: $brand-success!important;
  color: $navbar-inverse-link-color!important;
}
.type-helper-5 {
  background-color: $brand-warning!important;
  color: $navbar-inverse-link-color!important;
}
