html, body {
  height: 100%;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;

}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.text-no-select {
  user-select: none;
}

.pad-bottom, .pad-bottom:last-child {
  margin-bottom: $padding-large-vertical ;
}

.dark-background {
  background-color : $gray-darker ;
  color: #fff;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.blue-background {
  background-color : #5BBAF8 ;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.green-background {
  background-color : #0FEEC7 ;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}
