{% extends "node.html.twig" %}
{# Content #}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    {{ content.field_date }}
  </div>
  <div class="panel-body">
    <a class="btn-title" href="{{url}}" rel="bookmark">
      {{ label }}
    </a>
  </div>
</div>

{% endblock %}
