// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;

  background-color: $gray-dark;
  box-shadow: 0px 500px 0px 500px $gray-dark;
  color: $gray-light;

  a, .nav > li > a {
    color: $gray-lighter;
    &:hover, &:focus {
      color: $gray-light;
      background-color: transparent;
    }
  }

}
