header.navbar {
  margin-bottom: 0;
}

.agora-header {}

h1, h2, header .navbar-brand {
  font-family: 'arc-light';
  text-transform: uppercase;
  small {
    font-family: $headings-font-family;
    text-transform: none;
  }

  &.alt {
    font-family: 'arc-bold';
  }

}

header .navbar-brand {
  line-height: 1.5;
}
