header.navbar {
  margin-bottom: 0;
}

.agora-header {
  .jumbotron {
    margin-bottom: 0;
  }
  .carousel-inner {
    height: 650px !important;
    overflow: hidden;
  }
}

h1, h2, header .navbar-brand {
  small {
    font-family: $headings-font-family;
  }

}

header.navbar-inverse .navbar-brand {
  line-height: 16px;
  &:hover, &:focus, &:visited {
    color: $navbar-inverse-link-color;
  }
}

header.navbar ul.nav.navbar-nav.navbar-right {
  @media #{$tablet} {
    position: absolute;
    right: 15px;
  }
}

.view-header {
  text-align: right;
  & > ul.links {
    padding: 0;
    list-style: none;
    li a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-primary;
    }
  }
}


.agora-header {

  font-weight: 400;
  padding: 50px ($padding-base-vertical * 2) ;
  text-align: center;

  &.bg-dark {
    color: $gray-lighter;
  }

  h1, h2, h3 {
    margin-bottom: ($padding-base-vertical * 3);
    font-weight: bold;
    &.bg-dark {
      color: $gray-lighter;
    }
  }

  h1 {
    font-size: 48px;
  }

  .sitename {
    font-size: 70px;
    margin-top: 45px;
  }

  .slogan {
    text-align: center;
    margin-bottom: $padding-base-horizontal * 3 ;
    font-size: 48px;
    font-weight: normal;
  }
}
