header.navbar {
  margin-bottom: 0;
}

.agora-header {
  .jumbotron {
    margin-bottom: 0;
  }

  .carousel-inner {
    height: 650px !important;
    overflow: hidden;
  }

}

h1, h2, header .navbar-brand {
  font-family: 'arc-light';
  text-transform: uppercase;
  small {
    font-family: $headings-font-family;
    text-transform: none;
  }

}

h1, h2, h3, h4, label {
  &.alt {
    font-family: 'arc';
    text-transform: uppercase;
  }
  &.alt-light {
    font-family: 'arc-light';
    text-transform: uppercase;
  }
}

header .navbar-brand {
  line-height: 1.5;
}

.agora-message {
  .alert {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 110%;
    .media {
      margin-top: 0;
      padding: 0 $padding-base-horizontal;
      .media-icon {
        opacity: 0.8;
      }
      .media-body {
        padding: 5px 5px 5px 15px;
      }
    }
    .close {
      font-size: 32px;
      top: -2px;
      right: 0;
    }
  }

  .block--help-block {
    margin-top: $padding-large-vertical;
  }

}

.view-header {
  & > ul.links {
    padding: 0;
    list-style: none;
    li a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-primary;
    }
  }
}
