
.container-xs {
  @extend .container;
  max-width: $screen-xs;
}

.container-sm {
  @extend .container;
  max-width: $container-sm;
}

.container-md {
  @extend .container;
  max-width: $container-md;
}

// Page header.
.page-header {
  border: none;
}

h1.h-message,
h2.h-message,
h3.h-message,
h4.h-message {
  font-family: 'arc-light';
  text-transform: uppercase;
  margin: 0 auto;
  color: $navbar-inverse-link-color;
}

.spacer-h { height: 35px ; }

.path-examples {
  .main-content {
    margin: 15px ;
  }
}

.section-with-title {
  margin-top: 45px ;
  border-top: 1px solid $gray ;
  text-align: center;
  .section-title, .block-title {
    text-align: center;
    position: relative;
    top: -30px ;
    display: inline-block;
    margin: 15px auto ;
    background-color: white;
    padding: 0 25px ;
  }
}

.views-row {
  margin: $padding-large-vertical auto ;
}

.project-list {
  & > .view-header {
    text-align: left;
  }
  & > .view-content {
    @extend .container;
  }
}

.slider-sidebar {
  max-width: 350px;
  margin: ($padding-large-horizontal * 2) auto $padding-large-horizontal;
  .more-link {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-sm;
    @extend .btn-primary;
  }
}

.view-acteurs {
  .more-link a {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-sm;
    @extend .btn-default;
  }
}

.inner-col-md {
  max-width: 45% !important;
  margin: 0 auto !important;
}

.full-height-section {
  position: absolute;
  top: 0;
  max-height: 100%;
  height: 100%;
  width: 100%;
  padding-top: ($navbar-height);

  .region-content,
  .views-element-container,
  .view-map,
  .view-content {
    height: 100%;
  }

}
